* {
    font-family: 'Raleway';
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0%;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
}

button {
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

header {
    padding: 29px 150px 24px 150px;
}

.top-header-div {
    display: flex;
    gap: 114px;
    align-items: center;
}

.top-header-div p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    color: rgba(104, 104, 104, 1);
}

.eye-div,
.phone-div {
    display: flex;
    align-items: center;
}

.phone-div p {
    font-weight: 500;
    font-size: 22px;
    line-height: 30.8px;
    letter-spacing: 0%;
    color: inherit;
}

.eye-div p {
    font-size: 18px;
}


.phone-div button {
    background-color: rgba(39, 154, 89, 1);
    padding: 8px 28px;
    color: white;
    margin-left: 20px;
}

.bottom-header-div {
    display: flex;
    align-items: center;
}

.bottom-header-div ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.bottom-header-div li {
    margin-left: 34px;
    font-size: 17px;
}

.top-main-div {
    display: flex;
    align-items: center;
    background-color: rgba(39, 154, 89, 1);
    justify-content: center;
}

.lorem-div {
    margin: 90px 156px 108px 0px;
}

.lorem-div h1 {
    color: white;
    font-weight: 700;
    font-size: 60px;
    line-height: 66px;
    letter-spacing: 0%;
}

.lorem-div p {
    color: white;
    margin: 20px 0 30px 0;
}

.more-button {
    background-color: white;
    color: hsl(144, 52%, 42%);
    padding: 12px 60px 12px 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    position: relative;
}

.arrow-img {
    position: absolute;
    top: 15px;
    margin-left: 5px;
}

.about-us-div {
    padding: 130px 150px;
}

.us-div {
    display: flex;
    gap: 20px;
    margin-bottom: 130px;
    justify-content: center;
    align-items: center;
}

.all-paths {
    display: flex;
    gap: 357px;
    margin: 0 0 40px 15px;
}

.all-paths h1 {
    margin: 0;
}

.all-paths button {
    background-color: rgba(39, 154, 89, 1);
    padding: 0px 40px 0px 30px;
    color: white;
    position: relative;
}

.text-us p {
    color: gray;
}

.right-arrow {
    position: absolute;
    top: 19px;
    margin: 0 20px 0 5px;
}

.cart-divs {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.cart {
    box-shadow: 4px 2px 9px rgb(204 203 203);
    transition: 0.5s;
    padding-bottom: 20px;
    border-radius: 5px;
}

.cart:hover {
    box-shadow: 5px 5px 10px rgb(179, 179, 179);
    transform: translateY(-7px);
}

.cart p {
    font-weight: 700;
    margin-left: 20px;
}

.cart a {
    color: rgba(59, 185, 109, 1);
    margin-left: 20px;
}

.special-div {
    padding: 130px 150px;
    background-color: rgba(241, 245, 248, 1);
}

.priem-button {
    background-color: rgba(39, 154, 89, 1);
    padding: 13px 44px;
    color: white;
}

.all-special {
    font-weight: bold;
    padding: 13px 40px;
    margin-top: 50px;
    color: rgba(39, 154, 89, 1);
    border: solid 1px rgba(39, 154, 89, 1);
    margin-left: 43%;
    background: inherit;
}

.our-specialist-div {
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 688px;
}

.arrows {
    display: flex;
    justify-content: space-between;
}

.sales-div {
    display: flex;
    flex-direction: column;
    padding: 130px 150px;
}

.all-mrts {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

.big-mrt-div {
    background-color: hsl(146, 60%, 40%);
    border-radius: 5px;
    display: flex;
    padding: 10px 0 24px 30px;
    width: 561px;
    height: 373px;
}

.big-mrt-div p,
.big-mrt-div b,
.big-mrt-div h2 {
    color: white;
}

.big-mrt-div b {
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0%;
}

.small-mrt-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.mrt-div {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    height: 175px;
    width: 270px;
}

.purple-mrt {
    background-color: rgba(101, 103, 242, 1);
}

.yellow-mrt {
    background-color: rgba(255, 219, 92, 1);
}

.pink-mrt {
    background-color: rgba(245, 118, 118, 1);
}

.blue-mrt {
    background-color: rgba(39, 200, 218, 1);
}

.yellow-mrt h2,
.yellow-mrt p,
.yellow-mrt b {
    color: black !important;
}

.mrt-div h2,
.mrt-div p,
.mrt-div b {
    color: white;
}

.informations-div :nth-child(3) {
    margin: 0;
}

.informations-div h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
}

.mrt-div {
    position: relative;
}

.information-div :nth-child(2) {
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
}

.information-div h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.image-mrt {
    position: absolute;
    top: 66px;
    left: 133px;
}

.mrt-image {
    margin-top: 100px;
    position: absolute;
    left: 389px;
}

.mrt-div h2 {
    margin-top: 0px;
}

.doctor-p {
    font-weight: normal !important;
}

.mrt-button {
    padding: 5px 15px;
}

.condition-div {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.stationar-div {
    padding: 130px 0;
    background-color: rgba(241, 245, 248, 1);
}

.stationar-div h1 {
    margin-left: 11%;
}

.blue-div {
    background-color: rgba(39, 200, 218, 1);
    padding: 14px 39px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: white;
    gap: 20px;
    margin-bottom: 30px;
}

.blue-div p {
    width: 198px;
}

.white-div img {
    width: 37px;
    height: 37px;
}

.white-div {
    background-color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos-div {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.infos-div button {
    padding: 13px 65px;
    background-color: rgba(39, 154, 89, 1);
    color: white;
    margin-top: 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
}

.equipment-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px 0;
}

.equipment-div h1 {
    margin-left: 15%;
    margin-bottom: 40px;
}

.equipment-div ul {
    margin-bottom: 65px;
}

.equipment-div li {
    list-style-type: none;
    margin: 0 72px 15px 0;
}

ul span {
    color: rgba(59, 185, 109, 1);
}

.items {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.item-div {
    background-color: rgba(244, 246, 250, 1);
    border-radius: 60px;
}

.item-div ul {
    padding-left: 30px;
}

.item-div h2 {
    margin-left: 30px;
}

.priority-div h1 {
    margin-left: 7%;
}

.all-steps-div {
    padding: 0 100px;
}

.all-steps {
    background-color: rgba(244, 246, 250, 1);
    padding: 30px 20px 30px 20px;
    display: flex;
    justify-content: center;

}

.profi-div {
    background: white;
    padding: 10px 15px 20px;
}

.green-line {
    width: 80px;
    height: 2px;
    background-color: rgba(59, 185, 109, 1);
}

.step-div p {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
    line-height: 30.8px;
    padding: 11px 10px;
}

.step-div strong {
    font-weight: 700;
    font-size: 22px;
    line-height: 30.8px;
    margin-right: 10px;
}

.green-parg {
    background-color: white;
    margin: 0;
}

.green-parg,
.green-parg strong {
    color: rgba(59, 185, 109, 1);
}

.health-div {
    display: flex;
}

.patient :nth-child(1) {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0%;
    color: rgba(59, 185, 109, 1);
    margin: 0;
}

.patient :nth-child(2) {
    margin: 0 0 15px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: rgba(113, 121, 146, 1);
}

.partner-div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0 100px;
}

.sumsung-cart {
    padding: 36px 22px;
    transition: 0.4s;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.sumsung-cart:hover {
    box-shadow: 3px 2px 7px rgb(198, 197, 197);
}

.pertner-h1 {
    margin-top: 130px;
}

.license-div {
    background-color: rgba(241, 245, 248, 1);
    padding: 130px 150px 155px 150px;
}

.license-div :nth-child(5) {
    margin: 0;
}

.license-div img {
    margin-right: 20px;
}

.our-contacts {
    padding: 110px 110px 0 150px;
    background-color: rgba(39, 39, 39, 1);
    color: white;
    width: 40%;
}

.zapiska-button {
    padding: 13px 26px;
    background-color: rgba(59, 185, 109, 1);
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.contact-div {
    display: flex;
}

.email-div {
    margin: 20px 0 30px 0;
}

.address-div {
    margin: 0 0 20px 0;
}

footer {
    background-color: rgba(39, 154, 89, 1);
    padding: 50px 150px;
    color: white;
    display: flex;
    gap: 114px;
}

.name-div {
    display: flex;
    gap: 48px;
}

.tel-2-div {
    margin: 15px 0;
}

.menu-img {
    display: none;
}

.all-green {
    display: none;
}

@media (max-width: 480px) {
    header {
        padding: 11px 12px 10px 22px;
        margin-bottom: 20px;
    }

    h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
    }

    .top-header-div {
        display: none;
    }

    .bottom-header-div ul {
        display: none;
    }

    .bottom-header-div {
        justify-content: space-between;
    }

    .menu-img {
        display: block;
    }

    .people-img {
        display: none;
    }

    .lorem-div h1 {
        font-size: 50px;
        line-height: 55px;
        margin: 0;
    }

    .lorem-div {
        margin: 0;
    }

    .us-div {
        display: block;
    }

    .about-us-div {
        padding: 80px 20px;
    }

    .top-main-div {
        padding: 50px 20px;
    }

    .doctors-img {
        width: 388px;
        height: 268px;
    }

    .all-paths {
        display: block;
    }

    .cart-divs {
        display: block;
    }

    .cart {
        margin-bottom: 20px;
    }

    .cart img {
        width: 100%;
        height: 100%;
    }

    .all-green {
        background-color: green;
        color: white;
    }

    .arrows {
        display: none;
    }

    .special-div {
        padding: 80px 0;
    }

    .guy-div img {
        width: 100%;
        border-radius: 5px;

    }

    .sales-div {
        display: block;
        padding: 80px 5px 80px 5px;
    }

    .all-mrts,
    .small-mrt-div {
        display: block;
    }

    .big-mrt-div {
        width: 388px;
        height: 524px;
    }

    .mrt-div {
        width: 398px;
        height: 196px;
    }

    .mrt-image {
        left: 125px;
        top: 6706px;
    }

    .image-mrt {
        width: 178px;
        height: 157px;
        top: 20px;
        left: 202px;
    }

    .all-special {
        margin: 30px 10px;
    }

    .condition-div {
        display: block;
    }

    .stationar-div {
        padding: 80px 30px;
    }

    .blue-div {
        padding: 16px 14px;
        max-width: 388px;
    }

    .infos-div {
        display: block;
    }

    .nurse-img {
        width: 386px;
        height: 100%;
    }

    .equipment-div {
        padding: 80px 20px;
    }

    .equipment-div h1 {
        margin-left: 0;
    }

    .items {
        display: block;
    }

    .equipment-div ul {
        padding-bottom: 65px;
        margin-bottom: 40px;
    }

    .partner-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;

    }

    .license-div {
        display: grid;
        padding: 10px;
    }
}

